#canvasWrapperPixi {
    height: 100dvh;
}

.App {
    &_selectors {
        width: 100% !important;
        align-items: start !important;
        justify-content: left !important;

        &_left {
            width: 25vw;
            height: 100vh;
            // background: #fff4;
            cursor: pointer;
        }
    }
}