.Tab {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
    cursor: pointer;

    &_inner {
        background-color: rgba($color: #26F2F6, $alpha: .1);
        padding: 12px;
        font-size: 15px;
        width: 178px;
        text-align: center;
        font-weight: 700;
        transition: background-color 200ms;

        &_selected {
            background-color: rgba($color: #26F2F6, $alpha: 1);
            color: #000;
        }

        &:hover {
            background-color: rgba($color: #26F2F6, $alpha: .4);
        }
    }

    &_left {
        &_inner {
            height: 30px;
            border-left: 2px solid #26F2F6;
            border-top: 2px solid #26F2F6;
            border-bottom: 2px solid #26F2F6;
            min-width: 8px;
        }
    }

    &_right {
        &_inner {
            height: 30px;
            border-right: 2px solid #26F2F6;
            border-top: 2px solid #26F2F6;
            border-bottom: 2px solid #26F2F6;
            min-width: 8px;
        }
    }
}